[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/grischal
[access "refs/for/refs/*"]
	read = group user/grischal
	push = group user/grischal
	label-Code-Review = -2..+2 group user/grischal
	label-Verified = -1..+1 group user/grischal
	rebase = group user/grischal
	removeReviewer = group user/grischal
	submit = group user/grischal
[access "refs/heads/*"]
	read = group user/grischal
	create = group user/grischal
	push = +force group user/grischal
	pushMerge = group user/grischal
[access "refs/tags/*"]
	push = group user/grischal
	push = +force group user/grischal
